{% extends "lab_8/layout/base.html" %} {% block content %}
<section>
    <div class="container" id="lab8">
        <h1 id="opening">Welcome to my Mini-Facebook</h1>
        <button class="login" onclick="facebookLogin()">Login</button>

    </div>
</section>
{% endblock %}