body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #34e89e);
    background-size: 3000% 3000%;
    font-family: "Raleway", sans-serif;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

#lab8 {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.75);
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.navbar {
    background-color: #2e3131;
}

.navbar-header>.navbar-brand {
    color: white;
}

footer {
    padding: 500px;
}