body {
    font-family: 'Dosis', sans-serif;
    background-color: #375E97;
    color: #FB6542;
}

.navbar {
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    background-color: #FB6542;
    margin-bottom: 10px;
}

.navbar-header>.navbar-brand,
#navbar>.nav>li>a {
    color: white;
}

.navbar-header>.navbar-brand:hover,
#navbar>.nav>li>a:hover {
    color: white;
    background-color: #375E97;
}

#my_foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}


/*Textarea not resizeable*/

textarea {
    resize: none
}