{% extends "lab_7/layout/base.html" %} {% block content %}
<section name="friend-description" id="friend-description">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> {{friend.friend_name}}</h2>
                <h3> {{friend.npm}}</h3>
                <h4 id="alamat"> {{friend.alamat}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="map" style="width:500px; height:300px;"></div>
            </div>
        </div>
    </div>
</section>
<script>
    function initMap() {
        var alamat_mhs = $("#alamat").text();
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': alamat_mhs
        }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var mapsProperty = {
                    center: results[0].geometry.location,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };
                var map = new google.maps.Map(document.getElementById("map"), mapsProperty);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                var html = '<div class="alert alert-danger text-center">\
                            	Lokasi tidak ditemukan!\
                            </div>';
                $("#map").append(html)
            }
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj5cB8LOdImruV8p4hlgmaYnkDJ0KGFYY&callback=initMap">
</script>
{% endblock %}